<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.mapper.MajornoteMapper">

	<select id="findAllNote" resultMap="majornotes" parameterType="org.lanqiao.entity.Condition">
			select * from majornote 
			
			<where>
				<if test="title != null">
			         majornote_title like   '%${title}%' 
			    </if> 
			    <if test="author != null">
			        AND majornote_author like '%${author}%' 
			    </if>
			    <if test="time_start != null">
			    	<![CDATA[
			        AND majornote_publishtime >= #{time_start}
			        ]]>
			    </if>
			    <if test="time_end != null">
			   	 <![CDATA[
			        AND majornote_publishtime <= #{time_end}
			        ]]>
			    </if>
			    <if test="content != null">
			        AND majornote_content like '%${content}%' 
			    </if>
			    
			</where>
		
	</select>
	
	<resultMap type="org.lanqiao.entity.Majornote" id="majornotes">
		<id property="id" column="id"/>
		<result property="title" column="majornote_title"/>
		<result property="author" column="majornote_author"/>
		<result property="publishtime" column="majornote_publishtime"/>
		<result property="content" column="majornote_content"/>
		
	</resultMap>
	<select id="findAllNote2" resultMap="majornotes2" >
		<![CDATA[
			select m.majornote_title,m.majornote_author,m.majornote_publishtime,m.majornote_content,
				 r.id r_id,r.replynote_username,r.replynote_content,r.replynote_replytime,r.replynote_majornote_id
			from majornote m, replynote r 
		]]>
	</select>
	<select id="findAllNote3" resultType="hashmap" >
		<![CDATA[
			select m.majornote_title,m.majornote_author,m.majornote_publishtime,m.majornote_content,
				 r.id r_id,r.replynote_username,r.replynote_content,r.replynote_replytime,r.replynote_majornote_id
			from majornote m, replynote r 
		]]>
	</select>
	
	<resultMap type="org.lanqiao.entity.Majornote" id="majornotes2">
		<id property="id" column="id"/>
		<result property="title" column="majornote_title"/>
		<result property="author" column="majornote_author"/>
		<result property="publishtime" column="majornote_publishtime"/>
		<result property="content" column="majornote_content"/>
		
		<collection property="replys" ofType="org.lanqiao.entity.Replynote">
			<id property="id" column="r_id"/>
			<result property="username" column="replynote_username"/>
			<result property="content" column="replynote_content"/>
			<result property="replytime" column="replynote_replytime"/>
			<result property="majornoteid" column="replynote_majornote_id"/>
		</collection>
	</resultMap>
	
	<insert id="addMajornote" parameterType="org.lanqiao.entity.Majornote">
		<![CDATA[
			insert into majornote values(null,#{title},#{author},#{publishtime},#{content})
		]]>
	</insert>
	<insert id="addMajornote2" parameterType="org.lanqiao.entity.Majornote">
		<![CDATA[
			insert into majornote_backup values(null,#{title},#{author},#{publishtime},#{content})
		]]>
	</insert>
	
	<delete id="deleteNotes" parameterType="String">
		delete from majornote wheres id in
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<select id="findNoteByIds" resultMap="findNoteByIdsMap" parameterType="string">
		select * from majornote where id
		<foreach collection="array" item="i" open="=" separator="or id =" close=";">
			#{i}
		</foreach>
	</select>
	<resultMap type="org.lanqiao.entity.Majornote" id="findNoteByIdsMap">
		<id property="id" column="id"/>
		<result property="title" column="majornote_title"/>
		<result property="author" column="majornote_author"/>
		<result property="publishtime" column="majornote_publishtime"/>
		<result property="content" column="majornote_content"/>
	</resultMap>
	
	<select id="findNoteAndReplyById" parameterType="int" resultType="hashmap">
		SELECT m.id,m.majornote_title,m.majornote_author,m.majornote_publishtime,m.majornote_content,
		       r.id as _rid,r.replynote_username,r.replynote_content,r.replynote_replytime,r.replynote_majornote_id,r.replynote_count
		FROM majornote m left join replynote r 
		on   m.id=r.replynote_majornote_id
		where m.id=#{id}
	
	</select>
	
	<insert id="addNote" parameterType="org.lanqiao.entity.Majornote">
		insert into majornote values(null,#{title},#{author},#{publishtime},#{content})
	</insert>
	
</mapper>

